.WeatherDisplayContainer {
  margin-top: 1rem;
}

.WeatherDisplay {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  margin-top: 0.5rem;
}

.WeatherDisplay__header {
  text-align: center;
}

.WeatherDisplay__day {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}