.Weather__form {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  align-items: center;
}

.Weather__form * {
  border-radius: var(--_radius);
  font-size: 1.5rem;
}

.Weather__form label {
  text-align: left;
}

.Weather__form input {
  padding: var(--_padding);
  margin: 0.5rem;
  border: 1px solid hsl(var(--accent));
  text-align: center;
  caret-color: transparent;
}

.Weather__form__radioInput {
  display: flex;
  margin-top: 0.5rem;
  justify-content: space-evenly;
}

.Weather__form__radioInput input {
  margin: 0.5rem;
}

.Weather__form__states {
  text-align: center;
  margin-top: 1rem;
}
