.Weather {
  position: relative;
}

.Weather__form {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.Weather__form * {
  border: none;
  border-radius: 5px;
  text-align: center;
}

.Weather__form label {
  text-align: left;
}

.Weather__form input {
  padding: var(--form-input-padding);
  margin: 0.5rem;
}

.Weather__form button {
  padding: var(--form-input-padding);
  margin: 0.5rem;
}

.Weather__form__textInput {
  display: flex;
}

.Weather__form__radioInput {
  display: flex;
  margin-top: 0.5rem;
  justify-content: space-evenly;
}

.Weather__form__radioInput input {
  margin: 0.5rem;
}
